.card-service {
  width: 100%;
  min-height: 440px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-end;
  align-items: stretch;
  gap: var(--space-3);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-black);
  border-radius: var(--radius-lg);
  padding: var(--space-6);
  overflow: hidden;
  transition: all var(--transition-slow);
}

.card-service:hover {
  -moz-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

.card-service::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--color-black);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.75;
  border-radius: var(--radius-lg);
  z-index: 0;
}

.card-service::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 110px;
  top: -10px;
  left: -1px;
  background-color: var(--color-background);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-mask: url("/assets/images/icons/clip-curve.svg") center / 100% 100%
    no-repeat;
  mask: url("/assets/images/icons/clip-curve.svg") center / 100% 100% no-repeat;
  transform: rotate(180deg);
  pointer-events: none;
  z-index: 2;
}

.card-service__badge {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -0;
  left: 0;
  color: var(--color-text);
  /* opacity: 0.7; */
  transition:
    opacity var(--transition-fast),
    transform var(--transition-fast);
  background: var(--color-background);
  border: 5px solid var(--morphism-background);
  border-radius: var(--radius-full);
  z-index: 2;
}

.card-service__badge-icon {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  opacity: 0.7;
  transition:
    opacity var(--transition-fast),
    transform var(--transition-fast);
  transform: rotate(225deg);
}

.card-service:hover .card-service__badge-icon {
  opacity: 1;
  transform: rotate(180deg);
}

.card-service__title,
.card-service__title-link {
  width: 100%;
  height: 33px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--color-text);
  font-size: var(--fs-h4);
  font-weight: var(--fw-medium);
  line-height: var(--lh-body);
  margin: 0;
  z-index: 1;
}

.card-service__pill {
  align-self: flex-start;
  font-size: var(--fs-caption);
  font-weight: var(--fw-light);
  line-height: var(--line-caption);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-full);
  padding: var(--space-2) var(--space-4) var(--space-2) var(--space-4);
  z-index: 1;
}
