@import "../components/card-post.css";

#archive-posts {
}

.archive-posts {
  padding-block: var(--space-8) var(--space-24);
}

.archive-posts .row {
  row-gap: var(--space-8);
}

.archive-posts .column {
  display: flex;
}

/* ── Media Query ───────────────────────────────────────── */
@media (max-width: 991.98px) {
  .archive-posts .row {
    row-gap: var(--space-8);
  }
}

@media (max-width: 575.98px) {
  .archive-posts .row {
    row-gap: var(--space-6);
  }
}
