@import "../utilities/card-post.css";

#posts {
}

.posts {
}

.posts.container-fluid {
}

.posts .container {
}

.posts .row {
}

.posts .column {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

/* ── Media Query ───────────────────────────────────────── */
@media (max-width: 991.98px) {
  .posts .row {
    gap: var(--space-16);
  }
}
