#two-column,
#two-column-left {
}

.two-column {
}

.two-column.container-fluid {
}

.two-column .container {
}

.two-column .row {
}

.two-column .row.row--right {
  flex-direction: row;
}

.two-column .row.row--left {
  flex-direction: row-reverse;
}

.two-column .column {
}

.two-column .two-column__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  gap: var(--space-5);
}

.two-column .two-column__media {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.two-column .row.row--right .two-column__media {
  align-content: flex-end;
  align-items: flex-end;
}

.two-column .row.row--left .two-column__media {
  align-content: flex-start;
  align-items: flex-start;
}

.two-column .two-column__title {
  display: inline-block;
}

.two-column .two-column__title strong {
  color: var(--color-primary);
  font-weight: inherit;
}

.two-column .two-column__paragraphs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--space-4);
}

.two-column .two-column__paragraph {
  color: var(--color-desc);
  margin-bottom: 0;
}

.two-column__image {
  display: inline-block;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 350px;
}

@media (max-width: 991.98px) {
  .two-column .row {
    gap: var(--space-8);
  }

  .two-column .two-column__media,
  .two-column .row.row--right .two-column__media,
  .two-column .row.row--left .two-column__media {
    align-content: center;
    align-items: center;
  }
}
