#categories {
  position: relative;
}

.categories {
  position: relative;
}

.categories.container-fluid {
}

.categories .container {
  position: relative;
  z-index: 1;
}

.categories .row {
}

.categories .column {
}
